:root{
    --principal: #BE0DEA;
    --nav-black: #232323;
    --primary-background: #A5A5A5;
}

body {
    margin : 0;
    background-color: var(--primary-background);
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: var(--nav-black);
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#navbar-right{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

#navbar-right h1{
    display: none;
}

#navbar-left{
    display: flex;
    align-items: center;
}

.pageicon {
    height: 100%;
}
.menuicon{
    height: 70%;
}

@media (orientation = landscape){
    #navbar-right h1{
        display: block;
        color: white;
        font-size: 2vw;
        font-weight: 300;
    }
}