:root {
    --black1: #232323;
    --best-purple: #BE0DEA;
    --light-purple: #DA78F1;
    --ultra-light-gray: #ECECEC;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

nav {
    position: fixed;
    background-color: var(--black1);
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

#homelink{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#box-title {
    height: 90%;
    width: auto;
    display: flex;
    align-items: center;
}

#box-title img{
    height: 80%;
}

#box-title h1{
    font-size: xx-large;
    color: white;
}

#box-title h1 span{
    color: var(--best-purple);
}

#login-box {
    display: none;
}

#test-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}

#test-section h2 {
    margin-top: 300px;
}

.form-container {
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
}

#login-form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button{
    height: 70px;
    width: 40%;
    margin-top: 56px;
    border-radius: 8px;
    font-size: 48px;
    border: none;
    background-color: #EDB3EE;
    font-weight: 700;
}

#email-text{
    font-size: 32px;
}

#email{
    margin-top: 8px;
    height: 100px;
    width: 70%;
    background-color: var(--ultra-light-gray);
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: xx-large;
}

#passwd-text{
    font-size: 32px;
    margin-top: 32px;
}

#login-form a{
    font-size: xx-large;
    margin-top: 24px;
    text-decoration: none;
    color: var(--best-purple);
}

#passwd{
    margin-top: 8px;
    height: 100px;
    width: 70%;
    background-color: var(--ultra-light-gray);
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: xx-large;
}

#signup-button{
    background-color: white;
    border: 5px solid;
    border-color: var(--best-purple);
    border-radius: 12px;
    height: 80px;
}

@media (orientation : landscape) {
    #test-section h2{
        margin-top: 8%;
    }

    nav {
        justify-content: space-between;
    }

    #login-box{
        display: block;
        justify-self: right;
    }

    #login-box a button{
        margin-right: 30px;
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 8px;
        background-color: var(--light-purple)   ;
        font-weight: 700;
    }
    
    #login-box a button:active{
        background-color: var(--best-purple);
    }

    #login-box a button:hover{
        cursor: pointer;
    }

    .form-container{
        margin-top: 30px;
    }

    #email{
        width: 40%;
        height: 7%;
    }
    
    #passwd{
        width: 40%;
        height: 7%;
    }
    
    .submit-button{
        height: 10%;
        width: 15%;
        margin-top: 56px;
        border-radius: 8px;
        font-size: 32px;
    }
}