body{
    margin: 0;
}

nav {
    background-color: lightskyblue;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-title {
    height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-title img{
    height: 80%;
}

#box-title h1{
    font-family: Arial;
    font-size: xx-large;
}

#test-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 0 50px;
}