:root{
    --nav-black: #232323;
    --search-text: #646464;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: var(--nav-black);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar-right{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

#navbar-left{
    display: flex;
    align-items: center;
}

#navbar-center {
    display: flex;
    align-items: center;
}

#navbar-center input{
    height: 4vh;
    text-align: center;
    font-size: larger;
    color: var(--search-text);
}

.pageicon {
    height: 100%;
}
.menuicon{
    height: 70%;
    padding-right: 10px;
}


@media (orientation: landscape) {
    #navbar-center input{
        width: 30vh;
    }
}