:root{
    --nav-black: #232323;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: var(--nav-black);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar-right{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

#navbar-right h1{
    display: none;
}

#navbar-left{
    display: flex;
    align-items: center;
}

.pageicon {
    height: 100%;
}
.menuicon{
    height: 70%;
    padding-right: 10px;
}
